@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

:root{
--orange:#FFF3E5;
--darkorange:#FEDEB8;
--verydarkorange:salmon;

--blue:#ECFAFF;
--darkblue:#ADECFD;
--verydarkblue:rgb(10, 100, 245);

--green:#E1FFE9;
--darkgreen:#9BEDB1;
--verydarkgreen:rgb(0, 173, 87);

--transition: all 0.5s ease 0s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1em;
  color: black;
  text-rendering: optimizeLegibility;
}

.main {
  display: flex;
  height: 100vh;
  max-width: 100vw;
  padding: 50px 30px 30px 30px;
}

/*-------------------------------------------*/
/* PROJE SAYFALARI*/
/*-------------------------------------------*/
/* Sol Taraf */

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-scrollable {
  height: 100%;
  padding-right: 50px;
  overflow-y: auto;
  padding-left: 120px;
}

.right-image {
  background-color: #707070;
  height: 480px;
  width: 100%;
  margin-bottom: 80px;
}

img {
  width: 100%;
}
figure {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 20px;
}

.project-image {
  margin-bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
  color: #707070;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
a:visited {
  color: #707070;
}

p.text {
  font-size: 1rem;
  color: black;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.gif-png {
  display: flex;
  height: 400px;
  align-items: center;
  margin-top: -30px;
}

p,
h3 {
  width: 70%;
  line-height: 2rem;
  margin-right: auto;
  margin-left: auto;
}

p {
  margin-bottom: 40px;
}

h3 {
  font-size: 1.4rem;
  margin-top: 60px;
}

#idle-gif {
  height: 100%;
  width: auto;
  margin-left: 40px;
}
#states {
  height: 50%;
  width: auto;
}

.hashtag {
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 0px;
  line-height: 1.2rem;
}

.youtube {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
}

a:visited,
:hover {
  color: black;
}

/*-------------------------------------------*/
/* Project Navigation*/
/*-------------------------------------------*/

nav {
  width: 60%;
}
ul {
  display: flex;
}
li {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-right: 50px;
}
li:hover {
  text-decoration: underline;
}
li:visited {
  color: black;
}

/*-------------------------------------------*/
/* PROJE SAYFALARI*/
/*-------------------------------------------*/

.main-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
}
/* Hi I'm Mert*/
.main-header {
  flex-direction: column;
  margin-top: 70px;
  max-width: 900px;
}
.main-header-info {
  max-width: 650px;
  margin-left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-bottom: 0;
  color: #707070;
}

.link-main, 
.link-main:visited {
  text-decoration: underline;
  color: #707070;
}

.link-main:hover{
  color: black;
}

.project {
  display: flex;
  height: 72px;
  white-space: nowrap;
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
}

.social {
  width: 258px;
  display: flex;
  padding-right: 70px;
  justify-content: space-between;

}
.social-text,
.social-text:visited,
.copyright {
  color: #c4c4c4;
  font-size: 14px;
  transition: var(--transition);
}

.social-text:hover {color: black;}

/* Ana Başlık */
h1 {
  font-size: 3rem;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "quicksand", sans-serif;
  letter-spacing: auto;
  margin-bottom: 10px;
  font-weight: 500;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--transition);
  pointer-events: none;
}
/* Proje Yazıları */
h2 {
  color: #f7f7f7;
  font-size: 90px;
  font-weight: 700;
  line-height: 80%;

  text-decoration: none;
  font-feature-settings: "kern" off, "liga" off;
  transition: var(--transition);
  text-transform: uppercase;
  font-family: "quicksand", sans-serif;
}

h2:hover {
  background-clip: text;
  color: transparent;
}

.project:hover .line {
  visibility: visible;
}

.main-projects div:nth-child(1):hover ~ .bg{background-color: var(--orange);}
.main-projects div:nth-child(2):hover ~ .bg{background-color: var(--blue);}
.main-projects div:nth-child(3):hover ~ .bg{background-color: var(--green);}

.main-projects div:nth-child(1):hover h2{background-image: linear-gradient(45deg,var(--verydarkorange),var(--darkorange));}
.main-projects div:nth-child(2):hover h2{background-image: linear-gradient(45deg, var(--verydarkblue),var(--darkblue));}
.main-projects div:nth-child(3):hover h2{background-image: linear-gradient(45deg, var(--verydarkgreen),var(--darkgreen));}


.line {
visibility: hidden;
  margin-top: 4px;
  margin-right: 5px;
  width: 250px;
  font-size: 11px;
  letter-spacing: 0.4em;
}
.line1 {color: var(--verydarkorange);}
.line2 {color: var(--verydarkblue);}
.line3 {color: var(--verydarkgreen);}

main-projects{white-space: nowrap;}



/*-------------------------------------------*/
/* MEDIA QUARRIES*/
/*-------------------------------------------*/
@media screen and (max-width: 1040px) {
  .line {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .line {
    display: none;
  }

  h2 {
    font-size: 5rem;
    line-height: 5rem;
    overflow-wrap: break-word;
  }

  .project {
    overflow-wrap: break-word;
  }
}
a {
  overflow-wrap: break-word;
}
